body {
    font-family: "Open Sans", sans-serif;
}

h1, h2, h3 {
    font-family: "Lobster", cursive;
}

h2 {
    color: #7fcadd;
}
h5 {
    color: #080808;
}

header h2 {
    color: #CEC8FF;
}

footer {
    background-image: linear-gradient(to right, #f2709c, #a09e9d);
    padding: 20px 0;
}

.jumbotron {
    padding: 30px;
    background-image: linear-gradient(to right, #f2709c, #ff9472);
    color: rgb(3, 0, 0);
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

.navbar {
    background-image: linear-gradient(to right, #f2709c, #ff9472);
}
.jumbotron {
    margin: 0;
}    
.form-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}
.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
 }
 .site-footer{
    background-image: linear-gradient(#f2709c, #ff9472);
    padding: 20px 0;
}
.carousel-caption {
    background-color: rgba(196, 186, 186, 0.5);
}

.carousel {
    border: solid #fefeff;
}
.carouselButton {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 100; }