body {
    font-family: "Open Sans", sans-serif;
}

h1, h2, h3 {
    font-family: "Lobster", cursive;
}

h2 {
    color: #7fcadd;
}

header h2 {
    color: #CEC8FF;
}

footer {
    background-image: linear-gradient(#e0b4ca, white);
    padding: 20px 0;
}

.jumbotron {
    padding: 30px;
    background-image: linear-gradient(to right, #e9e7f0, #e9c6e0, #60106B);
    color: rgb(235, 168, 171);
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

.navbar {
    background-color:#f5c2df;
}
.jumbotron {
    margin: 0;
}    
